@-webkit-keyframes fade-scale {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
	50% {
		opacity: 0.5;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes fade-scale {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
	50% {
		opacity: 0.5;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
